<%= provide( :title, "raffy4284") %>
<h1><a href = "#">About</a></h1>
<p>
  Programmer, Engineer, Musician. Come check me out.
</p>
<h1><a href = "#">Projects</a></h1>
<p>
  Showcase of my class projects and side projects along with the thought process behind the design.
</p>
