<%= provide( :title, "projects_raffy4284") %>
<h1>Projects</h1>
<p>Various school related projects and side projects</p>
<ul>
	<li><a href = "#">CS61A</a></li>
	<li><a href = "#">CS61C</a></li>
	<li><a href = "#">EE140</a></li>
	<li><a href = "#">CS150</a></li>
	<li><a href = "#">CS162</a></li>
	<li><a href = "#">CS188</a></li>
</ul>